.TerminalDetails {

	.clear-logs-btn {
		display: flex !important;
		margin-left: auto;
		width: min-content;
		position: absolute;
		top: 6px;
		right: 6px;
	}

	.terminal-container {
		background: #CCC;

		box-shadow: inset rgba(0, 0, 0, 0.16) 0px 3px 5px;
		max-height: calc(100% - 190px);
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.terminal-info-formatted {

		.CommandLog:last-child {
			.command-log {
				padding-bottom: 20px;
			}
		}

	}
}