.TargetDetails {

	.details-item {
		line-height: 24px;
	}

	.blick-icon {
		animation: blink 2s step-start 0s infinite;

		display: inline-block;
		width: 10px;
		height: 10px;
		vertical-align: middle;
		padding: 2px;
		margin-left: 6px;
		margin-bottom: 2px;
		border-radius: 50%;
		border: 1px solid #CCC;

		&.green {
			background: #00E676;
		}

		&.red {
			background: #FF1744;
		}
	}
}

@keyframes blink {
	10% {
		opacity: 0.5;
	}
}