.RedeployView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;

	.left-section, 
	.right-section {
		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		width: 35%;
		padding: 5px;
	}

	.right-section {
		flex: 1 1 auto;
	}
	
}