html {
  	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	  
	body {
		margin: 0;
	}
}

.Application {
	display: flex; 
	flex-flow: column nowrap; 
	height: 100%;

	.top-left-icon {
		
	}

	.app-main-container {
		flex-grow: 1; 
		flex-shrink: 1; 
		position: relative; 
		overflow: auto; 
		padding: 16px;
	}
}

@keyframes blink {
	10% {
		opacity: 0.5;
	}
}